/**
 * Fonts.
 */
@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNova-Bold/ProximaNova-Bold.otf') format('opentype'),
    url('fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNova-Semibold/ProximaNova-Semibold.otf') format('opentype'),
    url('fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), url('fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'), url('fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNova-Regular/ProximaNova-Regular.otf') format('opentype'),
    url('fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNova-Light/ProximaNova-Light.otf') format('opentype'),
    url('fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), url('fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    font-family: "ProximaNova", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

/**
 * Login form.
 */
p.forgot-password {
    display: none;
}

body.page-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .navbar {
        display: none;
    }

    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }

    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table td,
    .table th {
        background-color: #fff !important;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777777;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
    font-size: 65%;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
    font-size: 75%;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 780px) {
    .lead {
        font-size: 21px;
    }
}

small,
.small {
    font-size: 85%;
}

mark,
.mark {
    background-color: #fcf8e3;
    padding: .2em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase, .initialism {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #337ab7;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #286090;
}

.text-success {
    color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
    color: #2b542c;
}

.text-info {
    color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
    color: #245269;
}

.text-warning {
    color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #66512c;
}

.text-danger {
    color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #843534;
}

.bg-primary {
    color: #fff;
}

.bg-primary {
    background-color: #337ab7;
}

a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #286090;
}

.bg-success {
    background-color: #dff0d8;
}

a.bg-success:hover,
a.bg-success:focus {
    background-color: #c1e2b3;
}

.bg-info {
    background-color: #d9edf7;
}

a.bg-info:hover,
a.bg-info:focus {
    background-color: #afd9ee;
}

.bg-warning {
    background-color: #fcf8e3;
}

a.bg-warning:hover,
a.bg-warning:focus {
    background-color: #f7ecb5;
}

.bg-danger {
    background-color: #f2dede;
}

a.bg-danger:hover,
a.bg-danger:focus {
    background-color: #e4b9b9;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 1.42857;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
    content: " ";
    display: table;
}

.dl-horizontal dd:after {
    clear: both;
}

@media (min-width: 780px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 180px;
    }
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777777;
}

.initialism {
    font-size: 90%;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #777777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0;
    text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
    content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
    content: '\00A0 \2014';
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

@media (min-width: 780px) {
    .container {
        width: 780px;
    }
}

@media (min-width: 990px) {
    .container {
        width: 990px;
    }
}

@media (min-width: 1110px) {
    .container {
        width: 990px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container-fluid:before, .container-fluid:after {
    content: " ";
    display: table;
}

.container-fluid:after {
    clear: both;
}

.row {
    margin-left: -25px;
    margin-right: -25px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24, .col-xs-25, .col-sm-25, .col-md-25, .col-lg-25, .col-xs-26, .col-sm-26, .col-md-26, .col-lg-26, .col-xs-27, .col-sm-27, .col-md-27, .col-lg-27, .col-xs-28, .col-sm-28, .col-md-28, .col-lg-28, .col-xs-29, .col-sm-29, .col-md-29, .col-lg-29, .col-xs-30, .col-sm-30, .col-md-30, .col-lg-30 {
    position: relative;
    min-height: 1px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24, .col-xs-25, .col-xs-26, .col-xs-27, .col-xs-28, .col-xs-29, .col-xs-30 {
    float: left;
}

.col-xs-1 {
    width: 3.33333%;
}

.col-xs-2 {
    width: 6.66667%;
}

.col-xs-3 {
    width: 10%;
}

.col-xs-4 {
    width: 13.33333%;
}

.col-xs-5 {
    width: 16.66667%;
}

.col-xs-6 {
    width: 20%;
}

.col-xs-7 {
    width: 23.33333%;
}

.col-xs-8 {
    width: 26.66667%;
}

.col-xs-9 {
    width: 30%;
}

.col-xs-10 {
    width: 33.33333%;
}

.col-xs-11 {
    width: 36.66667%;
}

.col-xs-12 {
    width: 40%;
}

.col-xs-13 {
    width: 43.33333%;
}

.col-xs-14 {
    width: 46.66667%;
}

.col-xs-15 {
    width: 50%;
}

.col-xs-16 {
    width: 53.33333%;
}

.col-xs-17 {
    width: 56.66667%;
}

.col-xs-18 {
    width: 60%;
}

.col-xs-19 {
    width: 63.33333%;
}

.col-xs-20 {
    width: 66.66667%;
}

.col-xs-21 {
    width: 70%;
}

.col-xs-22 {
    width: 73.33333%;
}

.col-xs-23 {
    width: 76.66667%;
}

.col-xs-24 {
    width: 80%;
}

.col-xs-25 {
    width: 83.33333%;
}

.col-xs-26 {
    width: 86.66667%;
}

.col-xs-27 {
    width: 90%;
}

.col-xs-28 {
    width: 93.33333%;
}

.col-xs-29 {
    width: 96.66667%;
}

.col-xs-30 {
    width: 100%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-pull-1 {
    right: 3.33333%;
}

.col-xs-pull-2 {
    right: 6.66667%;
}

.col-xs-pull-3 {
    right: 10%;
}

.col-xs-pull-4 {
    right: 13.33333%;
}

.col-xs-pull-5 {
    right: 16.66667%;
}

.col-xs-pull-6 {
    right: 20%;
}

.col-xs-pull-7 {
    right: 23.33333%;
}

.col-xs-pull-8 {
    right: 26.66667%;
}

.col-xs-pull-9 {
    right: 30%;
}

.col-xs-pull-10 {
    right: 33.33333%;
}

.col-xs-pull-11 {
    right: 36.66667%;
}

.col-xs-pull-12 {
    right: 40%;
}

.col-xs-pull-13 {
    right: 43.33333%;
}

.col-xs-pull-14 {
    right: 46.66667%;
}

.col-xs-pull-15 {
    right: 50%;
}

.col-xs-pull-16 {
    right: 53.33333%;
}

.col-xs-pull-17 {
    right: 56.66667%;
}

.col-xs-pull-18 {
    right: 60%;
}

.col-xs-pull-19 {
    right: 63.33333%;
}

.col-xs-pull-20 {
    right: 66.66667%;
}

.col-xs-pull-21 {
    right: 70%;
}

.col-xs-pull-22 {
    right: 73.33333%;
}

.col-xs-pull-23 {
    right: 76.66667%;
}

.col-xs-pull-24 {
    right: 80%;
}

.col-xs-pull-25 {
    right: 83.33333%;
}

.col-xs-pull-26 {
    right: 86.66667%;
}

.col-xs-pull-27 {
    right: 90%;
}

.col-xs-pull-28 {
    right: 93.33333%;
}

.col-xs-pull-29 {
    right: 96.66667%;
}

.col-xs-pull-30 {
    right: 100%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-push-1 {
    left: 3.33333%;
}

.col-xs-push-2 {
    left: 6.66667%;
}

.col-xs-push-3 {
    left: 10%;
}

.col-xs-push-4 {
    left: 13.33333%;
}

.col-xs-push-5 {
    left: 16.66667%;
}

.col-xs-push-6 {
    left: 20%;
}

.col-xs-push-7 {
    left: 23.33333%;
}

.col-xs-push-8 {
    left: 26.66667%;
}

.col-xs-push-9 {
    left: 30%;
}

.col-xs-push-10 {
    left: 33.33333%;
}

.col-xs-push-11 {
    left: 36.66667%;
}

.col-xs-push-12 {
    left: 40%;
}

.col-xs-push-13 {
    left: 43.33333%;
}

.col-xs-push-14 {
    left: 46.66667%;
}

.col-xs-push-15 {
    left: 50%;
}

.col-xs-push-16 {
    left: 53.33333%;
}

.col-xs-push-17 {
    left: 56.66667%;
}

.col-xs-push-18 {
    left: 60%;
}

.col-xs-push-19 {
    left: 63.33333%;
}

.col-xs-push-20 {
    left: 66.66667%;
}

.col-xs-push-21 {
    left: 70%;
}

.col-xs-push-22 {
    left: 73.33333%;
}

.col-xs-push-23 {
    left: 76.66667%;
}

.col-xs-push-24 {
    left: 80%;
}

.col-xs-push-25 {
    left: 83.33333%;
}

.col-xs-push-26 {
    left: 86.66667%;
}

.col-xs-push-27 {
    left: 90%;
}

.col-xs-push-28 {
    left: 93.33333%;
}

.col-xs-push-29 {
    left: 96.66667%;
}

.col-xs-push-30 {
    left: 100%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

.col-xs-offset-1 {
    margin-left: 3.33333%;
}

.col-xs-offset-2 {
    margin-left: 6.66667%;
}

.col-xs-offset-3 {
    margin-left: 10%;
}

.col-xs-offset-4 {
    margin-left: 13.33333%;
}

.col-xs-offset-5 {
    margin-left: 16.66667%;
}

.col-xs-offset-6 {
    margin-left: 20%;
}

.col-xs-offset-7 {
    margin-left: 23.33333%;
}

.col-xs-offset-8 {
    margin-left: 26.66667%;
}

.col-xs-offset-9 {
    margin-left: 30%;
}

.col-xs-offset-10 {
    margin-left: 33.33333%;
}

.col-xs-offset-11 {
    margin-left: 36.66667%;
}

.col-xs-offset-12 {
    margin-left: 40%;
}

.col-xs-offset-13 {
    margin-left: 43.33333%;
}

.col-xs-offset-14 {
    margin-left: 46.66667%;
}

.col-xs-offset-15 {
    margin-left: 50%;
}

.col-xs-offset-16 {
    margin-left: 53.33333%;
}

.col-xs-offset-17 {
    margin-left: 56.66667%;
}

.col-xs-offset-18 {
    margin-left: 60%;
}

.col-xs-offset-19 {
    margin-left: 63.33333%;
}

.col-xs-offset-20 {
    margin-left: 66.66667%;
}

.col-xs-offset-21 {
    margin-left: 70%;
}

.col-xs-offset-22 {
    margin-left: 73.33333%;
}

.col-xs-offset-23 {
    margin-left: 76.66667%;
}

.col-xs-offset-24 {
    margin-left: 80%;
}

.col-xs-offset-25 {
    margin-left: 83.33333%;
}

.col-xs-offset-26 {
    margin-left: 86.66667%;
}

.col-xs-offset-27 {
    margin-left: 90%;
}

.col-xs-offset-28 {
    margin-left: 93.33333%;
}

.col-xs-offset-29 {
    margin-left: 96.66667%;
}

.col-xs-offset-30 {
    margin-left: 100%;
}

@media (min-width: 780px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24, .col-sm-25, .col-sm-26, .col-sm-27, .col-sm-28, .col-sm-29, .col-sm-30 {
        float: left;
    }

    .col-sm-1 {
        width: 3.33333%;
    }

    .col-sm-2 {
        width: 6.66667%;
    }

    .col-sm-3 {
        width: 10%;
    }

    .col-sm-4 {
        width: 13.33333%;
    }

    .col-sm-5 {
        width: 16.66667%;
    }

    .col-sm-6 {
        width: 20%;
    }

    .col-sm-7 {
        width: 23.33333%;
    }

    .col-sm-8 {
        width: 26.66667%;
    }

    .col-sm-9 {
        width: 30%;
    }

    .col-sm-10 {
        width: 33.33333%;
    }

    .col-sm-11 {
        width: 36.66667%;
    }

    .col-sm-12 {
        width: 40%;
    }

    .col-sm-13 {
        width: 43.33333%;
    }

    .col-sm-14 {
        width: 46.66667%;
    }

    .col-sm-15 {
        width: 50%;
    }

    .col-sm-16 {
        width: 53.33333%;
    }

    .col-sm-17 {
        width: 56.66667%;
    }

    .col-sm-18 {
        width: 60%;
    }

    .col-sm-19 {
        width: 63.33333%;
    }

    .col-sm-20 {
        width: 66.66667%;
    }

    .col-sm-21 {
        width: 70%;
    }

    .col-sm-22 {
        width: 73.33333%;
    }

    .col-sm-23 {
        width: 76.66667%;
    }

    .col-sm-24 {
        width: 80%;
    }

    .col-sm-25 {
        width: 83.33333%;
    }

    .col-sm-26 {
        width: 86.66667%;
    }

    .col-sm-27 {
        width: 90%;
    }

    .col-sm-28 {
        width: 93.33333%;
    }

    .col-sm-29 {
        width: 96.66667%;
    }

    .col-sm-30 {
        width: 100%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-pull-1 {
        right: 3.33333%;
    }

    .col-sm-pull-2 {
        right: 6.66667%;
    }

    .col-sm-pull-3 {
        right: 10%;
    }

    .col-sm-pull-4 {
        right: 13.33333%;
    }

    .col-sm-pull-5 {
        right: 16.66667%;
    }

    .col-sm-pull-6 {
        right: 20%;
    }

    .col-sm-pull-7 {
        right: 23.33333%;
    }

    .col-sm-pull-8 {
        right: 26.66667%;
    }

    .col-sm-pull-9 {
        right: 30%;
    }

    .col-sm-pull-10 {
        right: 33.33333%;
    }

    .col-sm-pull-11 {
        right: 36.66667%;
    }

    .col-sm-pull-12 {
        right: 40%;
    }

    .col-sm-pull-13 {
        right: 43.33333%;
    }

    .col-sm-pull-14 {
        right: 46.66667%;
    }

    .col-sm-pull-15 {
        right: 50%;
    }

    .col-sm-pull-16 {
        right: 53.33333%;
    }

    .col-sm-pull-17 {
        right: 56.66667%;
    }

    .col-sm-pull-18 {
        right: 60%;
    }

    .col-sm-pull-19 {
        right: 63.33333%;
    }

    .col-sm-pull-20 {
        right: 66.66667%;
    }

    .col-sm-pull-21 {
        right: 70%;
    }

    .col-sm-pull-22 {
        right: 73.33333%;
    }

    .col-sm-pull-23 {
        right: 76.66667%;
    }

    .col-sm-pull-24 {
        right: 80%;
    }

    .col-sm-pull-25 {
        right: 83.33333%;
    }

    .col-sm-pull-26 {
        right: 86.66667%;
    }

    .col-sm-pull-27 {
        right: 90%;
    }

    .col-sm-pull-28 {
        right: 93.33333%;
    }

    .col-sm-pull-29 {
        right: 96.66667%;
    }

    .col-sm-pull-30 {
        right: 100%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-push-1 {
        left: 3.33333%;
    }

    .col-sm-push-2 {
        left: 6.66667%;
    }

    .col-sm-push-3 {
        left: 10%;
    }

    .col-sm-push-4 {
        left: 13.33333%;
    }

    .col-sm-push-5 {
        left: 16.66667%;
    }

    .col-sm-push-6 {
        left: 20%;
    }

    .col-sm-push-7 {
        left: 23.33333%;
    }

    .col-sm-push-8 {
        left: 26.66667%;
    }

    .col-sm-push-9 {
        left: 30%;
    }

    .col-sm-push-10 {
        left: 33.33333%;
    }

    .col-sm-push-11 {
        left: 36.66667%;
    }

    .col-sm-push-12 {
        left: 40%;
    }

    .col-sm-push-13 {
        left: 43.33333%;
    }

    .col-sm-push-14 {
        left: 46.66667%;
    }

    .col-sm-push-15 {
        left: 50%;
    }

    .col-sm-push-16 {
        left: 53.33333%;
    }

    .col-sm-push-17 {
        left: 56.66667%;
    }

    .col-sm-push-18 {
        left: 60%;
    }

    .col-sm-push-19 {
        left: 63.33333%;
    }

    .col-sm-push-20 {
        left: 66.66667%;
    }

    .col-sm-push-21 {
        left: 70%;
    }

    .col-sm-push-22 {
        left: 73.33333%;
    }

    .col-sm-push-23 {
        left: 76.66667%;
    }

    .col-sm-push-24 {
        left: 80%;
    }

    .col-sm-push-25 {
        left: 83.33333%;
    }

    .col-sm-push-26 {
        left: 86.66667%;
    }

    .col-sm-push-27 {
        left: 90%;
    }

    .col-sm-push-28 {
        left: 93.33333%;
    }

    .col-sm-push-29 {
        left: 96.66667%;
    }

    .col-sm-push-30 {
        left: 100%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }

    .col-sm-offset-1 {
        margin-left: 3.33333%;
    }

    .col-sm-offset-2 {
        margin-left: 6.66667%;
    }

    .col-sm-offset-3 {
        margin-left: 10%;
    }

    .col-sm-offset-4 {
        margin-left: 13.33333%;
    }

    .col-sm-offset-5 {
        margin-left: 16.66667%;
    }

    .col-sm-offset-6 {
        margin-left: 20%;
    }

    .col-sm-offset-7 {
        margin-left: 23.33333%;
    }

    .col-sm-offset-8 {
        margin-left: 26.66667%;
    }

    .col-sm-offset-9 {
        margin-left: 30%;
    }

    .col-sm-offset-10 {
        margin-left: 33.33333%;
    }

    .col-sm-offset-11 {
        margin-left: 36.66667%;
    }

    .col-sm-offset-12 {
        margin-left: 40%;
    }

    .col-sm-offset-13 {
        margin-left: 43.33333%;
    }

    .col-sm-offset-14 {
        margin-left: 46.66667%;
    }

    .col-sm-offset-15 {
        margin-left: 50%;
    }

    .col-sm-offset-16 {
        margin-left: 53.33333%;
    }

    .col-sm-offset-17 {
        margin-left: 56.66667%;
    }

    .col-sm-offset-18 {
        margin-left: 60%;
    }

    .col-sm-offset-19 {
        margin-left: 63.33333%;
    }

    .col-sm-offset-20 {
        margin-left: 66.66667%;
    }

    .col-sm-offset-21 {
        margin-left: 70%;
    }

    .col-sm-offset-22 {
        margin-left: 73.33333%;
    }

    .col-sm-offset-23 {
        margin-left: 76.66667%;
    }

    .col-sm-offset-24 {
        margin-left: 80%;
    }

    .col-sm-offset-25 {
        margin-left: 83.33333%;
    }

    .col-sm-offset-26 {
        margin-left: 86.66667%;
    }

    .col-sm-offset-27 {
        margin-left: 90%;
    }

    .col-sm-offset-28 {
        margin-left: 93.33333%;
    }

    .col-sm-offset-29 {
        margin-left: 96.66667%;
    }

    .col-sm-offset-30 {
        margin-left: 100%;
    }
}

@media (min-width: 990px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md-25, .col-md-26, .col-md-27, .col-md-28, .col-md-29, .col-md-30 {
        float: left;
    }

    .col-md-1 {
        width: 3.33333%;
    }

    .col-md-2 {
        width: 6.66667%;
    }

    .col-md-3 {
        width: 10%;
    }

    .col-md-4 {
        width: 13.33333%;
    }

    .col-md-5 {
        width: 16.66667%;
    }

    .col-md-6 {
        width: 20%;
    }

    .col-md-7 {
        width: 23.33333%;
    }

    .col-md-8 {
        width: 26.66667%;
    }

    .col-md-9 {
        width: 30%;
    }

    .col-md-10 {
        width: 33.33333%;
    }

    .col-md-11 {
        width: 36.66667%;
    }

    .col-md-12 {
        width: 40%;
    }

    .col-md-13 {
        width: 43.33333%;
    }

    .col-md-14 {
        width: 46.66667%;
    }

    .col-md-15 {
        width: 50%;
    }

    .col-md-16 {
        width: 53.33333%;
    }

    .col-md-17 {
        width: 56.66667%;
    }

    .col-md-18 {
        width: 60%;
    }

    .col-md-19 {
        width: 63.33333%;
    }

    .col-md-20 {
        width: 66.66667%;
    }

    .col-md-21 {
        width: 70%;
    }

    .col-md-22 {
        width: 73.33333%;
    }

    .col-md-23 {
        width: 76.66667%;
    }

    .col-md-24 {
        width: 80%;
    }

    .col-md-25 {
        width: 83.33333%;
    }

    .col-md-26 {
        width: 86.66667%;
    }

    .col-md-27 {
        width: 90%;
    }

    .col-md-28 {
        width: 93.33333%;
    }

    .col-md-29 {
        width: 96.66667%;
    }

    .col-md-30 {
        width: 100%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-pull-1 {
        right: 3.33333%;
    }

    .col-md-pull-2 {
        right: 6.66667%;
    }

    .col-md-pull-3 {
        right: 10%;
    }

    .col-md-pull-4 {
        right: 13.33333%;
    }

    .col-md-pull-5 {
        right: 16.66667%;
    }

    .col-md-pull-6 {
        right: 20%;
    }

    .col-md-pull-7 {
        right: 23.33333%;
    }

    .col-md-pull-8 {
        right: 26.66667%;
    }

    .col-md-pull-9 {
        right: 30%;
    }

    .col-md-pull-10 {
        right: 33.33333%;
    }

    .col-md-pull-11 {
        right: 36.66667%;
    }

    .col-md-pull-12 {
        right: 40%;
    }

    .col-md-pull-13 {
        right: 43.33333%;
    }

    .col-md-pull-14 {
        right: 46.66667%;
    }

    .col-md-pull-15 {
        right: 50%;
    }

    .col-md-pull-16 {
        right: 53.33333%;
    }

    .col-md-pull-17 {
        right: 56.66667%;
    }

    .col-md-pull-18 {
        right: 60%;
    }

    .col-md-pull-19 {
        right: 63.33333%;
    }

    .col-md-pull-20 {
        right: 66.66667%;
    }

    .col-md-pull-21 {
        right: 70%;
    }

    .col-md-pull-22 {
        right: 73.33333%;
    }

    .col-md-pull-23 {
        right: 76.66667%;
    }

    .col-md-pull-24 {
        right: 80%;
    }

    .col-md-pull-25 {
        right: 83.33333%;
    }

    .col-md-pull-26 {
        right: 86.66667%;
    }

    .col-md-pull-27 {
        right: 90%;
    }

    .col-md-pull-28 {
        right: 93.33333%;
    }

    .col-md-pull-29 {
        right: 96.66667%;
    }

    .col-md-pull-30 {
        right: 100%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-push-1 {
        left: 3.33333%;
    }

    .col-md-push-2 {
        left: 6.66667%;
    }

    .col-md-push-3 {
        left: 10%;
    }

    .col-md-push-4 {
        left: 13.33333%;
    }

    .col-md-push-5 {
        left: 16.66667%;
    }

    .col-md-push-6 {
        left: 20%;
    }

    .col-md-push-7 {
        left: 23.33333%;
    }

    .col-md-push-8 {
        left: 26.66667%;
    }

    .col-md-push-9 {
        left: 30%;
    }

    .col-md-push-10 {
        left: 33.33333%;
    }

    .col-md-push-11 {
        left: 36.66667%;
    }

    .col-md-push-12 {
        left: 40%;
    }

    .col-md-push-13 {
        left: 43.33333%;
    }

    .col-md-push-14 {
        left: 46.66667%;
    }

    .col-md-push-15 {
        left: 50%;
    }

    .col-md-push-16 {
        left: 53.33333%;
    }

    .col-md-push-17 {
        left: 56.66667%;
    }

    .col-md-push-18 {
        left: 60%;
    }

    .col-md-push-19 {
        left: 63.33333%;
    }

    .col-md-push-20 {
        left: 66.66667%;
    }

    .col-md-push-21 {
        left: 70%;
    }

    .col-md-push-22 {
        left: 73.33333%;
    }

    .col-md-push-23 {
        left: 76.66667%;
    }

    .col-md-push-24 {
        left: 80%;
    }

    .col-md-push-25 {
        left: 83.33333%;
    }

    .col-md-push-26 {
        left: 86.66667%;
    }

    .col-md-push-27 {
        left: 90%;
    }

    .col-md-push-28 {
        left: 93.33333%;
    }

    .col-md-push-29 {
        left: 96.66667%;
    }

    .col-md-push-30 {
        left: 100%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }

    .col-md-offset-1 {
        margin-left: 3.33333%;
    }

    .col-md-offset-2 {
        margin-left: 6.66667%;
    }

    .col-md-offset-3 {
        margin-left: 10%;
    }

    .col-md-offset-4 {
        margin-left: 13.33333%;
    }

    .col-md-offset-5 {
        margin-left: 16.66667%;
    }

    .col-md-offset-6 {
        margin-left: 20%;
    }

    .col-md-offset-7 {
        margin-left: 23.33333%;
    }

    .col-md-offset-8 {
        margin-left: 26.66667%;
    }

    .col-md-offset-9 {
        margin-left: 30%;
    }

    .col-md-offset-10 {
        margin-left: 33.33333%;
    }

    .col-md-offset-11 {
        margin-left: 36.66667%;
    }

    .col-md-offset-12 {
        margin-left: 40%;
    }

    .col-md-offset-13 {
        margin-left: 43.33333%;
    }

    .col-md-offset-14 {
        margin-left: 46.66667%;
    }

    .col-md-offset-15 {
        margin-left: 50%;
    }

    .col-md-offset-16 {
        margin-left: 53.33333%;
    }

    .col-md-offset-17 {
        margin-left: 56.66667%;
    }

    .col-md-offset-18 {
        margin-left: 60%;
    }

    .col-md-offset-19 {
        margin-left: 63.33333%;
    }

    .col-md-offset-20 {
        margin-left: 66.66667%;
    }

    .col-md-offset-21 {
        margin-left: 70%;
    }

    .col-md-offset-22 {
        margin-left: 73.33333%;
    }

    .col-md-offset-23 {
        margin-left: 76.66667%;
    }

    .col-md-offset-24 {
        margin-left: 80%;
    }

    .col-md-offset-25 {
        margin-left: 83.33333%;
    }

    .col-md-offset-26 {
        margin-left: 86.66667%;
    }

    .col-md-offset-27 {
        margin-left: 90%;
    }

    .col-md-offset-28 {
        margin-left: 93.33333%;
    }

    .col-md-offset-29 {
        margin-left: 96.66667%;
    }

    .col-md-offset-30 {
        margin-left: 100%;
    }
}

@media (min-width: 1110px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg-25, .col-lg-26, .col-lg-27, .col-lg-28, .col-lg-29, .col-lg-30 {
        float: left;
    }

    .col-lg-1 {
        width: 3.33333%;
    }

    .col-lg-2 {
        width: 6.66667%;
    }

    .col-lg-3 {
        width: 10%;
    }

    .col-lg-4 {
        width: 13.33333%;
    }

    .col-lg-5 {
        width: 16.66667%;
    }

    .col-lg-6 {
        width: 20%;
    }

    .col-lg-7 {
        width: 23.33333%;
    }

    .col-lg-8 {
        width: 26.66667%;
    }

    .col-lg-9 {
        width: 30%;
    }

    .col-lg-10 {
        width: 33.33333%;
    }

    .col-lg-11 {
        width: 36.66667%;
    }

    .col-lg-12 {
        width: 40%;
    }

    .col-lg-13 {
        width: 43.33333%;
    }

    .col-lg-14 {
        width: 46.66667%;
    }

    .col-lg-15 {
        width: 50%;
    }

    .col-lg-16 {
        width: 53.33333%;
    }

    .col-lg-17 {
        width: 56.66667%;
    }

    .col-lg-18 {
        width: 60%;
    }

    .col-lg-19 {
        width: 63.33333%;
    }

    .col-lg-20 {
        width: 66.66667%;
    }

    .col-lg-21 {
        width: 70%;
    }

    .col-lg-22 {
        width: 73.33333%;
    }

    .col-lg-23 {
        width: 76.66667%;
    }

    .col-lg-24 {
        width: 80%;
    }

    .col-lg-25 {
        width: 83.33333%;
    }

    .col-lg-26 {
        width: 86.66667%;
    }

    .col-lg-27 {
        width: 90%;
    }

    .col-lg-28 {
        width: 93.33333%;
    }

    .col-lg-29 {
        width: 96.66667%;
    }

    .col-lg-30 {
        width: 100%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-pull-1 {
        right: 3.33333%;
    }

    .col-lg-pull-2 {
        right: 6.66667%;
    }

    .col-lg-pull-3 {
        right: 10%;
    }

    .col-lg-pull-4 {
        right: 13.33333%;
    }

    .col-lg-pull-5 {
        right: 16.66667%;
    }

    .col-lg-pull-6 {
        right: 20%;
    }

    .col-lg-pull-7 {
        right: 23.33333%;
    }

    .col-lg-pull-8 {
        right: 26.66667%;
    }

    .col-lg-pull-9 {
        right: 30%;
    }

    .col-lg-pull-10 {
        right: 33.33333%;
    }

    .col-lg-pull-11 {
        right: 36.66667%;
    }

    .col-lg-pull-12 {
        right: 40%;
    }

    .col-lg-pull-13 {
        right: 43.33333%;
    }

    .col-lg-pull-14 {
        right: 46.66667%;
    }

    .col-lg-pull-15 {
        right: 50%;
    }

    .col-lg-pull-16 {
        right: 53.33333%;
    }

    .col-lg-pull-17 {
        right: 56.66667%;
    }

    .col-lg-pull-18 {
        right: 60%;
    }

    .col-lg-pull-19 {
        right: 63.33333%;
    }

    .col-lg-pull-20 {
        right: 66.66667%;
    }

    .col-lg-pull-21 {
        right: 70%;
    }

    .col-lg-pull-22 {
        right: 73.33333%;
    }

    .col-lg-pull-23 {
        right: 76.66667%;
    }

    .col-lg-pull-24 {
        right: 80%;
    }

    .col-lg-pull-25 {
        right: 83.33333%;
    }

    .col-lg-pull-26 {
        right: 86.66667%;
    }

    .col-lg-pull-27 {
        right: 90%;
    }

    .col-lg-pull-28 {
        right: 93.33333%;
    }

    .col-lg-pull-29 {
        right: 96.66667%;
    }

    .col-lg-pull-30 {
        right: 100%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-push-1 {
        left: 3.33333%;
    }

    .col-lg-push-2 {
        left: 6.66667%;
    }

    .col-lg-push-3 {
        left: 10%;
    }

    .col-lg-push-4 {
        left: 13.33333%;
    }

    .col-lg-push-5 {
        left: 16.66667%;
    }

    .col-lg-push-6 {
        left: 20%;
    }

    .col-lg-push-7 {
        left: 23.33333%;
    }

    .col-lg-push-8 {
        left: 26.66667%;
    }

    .col-lg-push-9 {
        left: 30%;
    }

    .col-lg-push-10 {
        left: 33.33333%;
    }

    .col-lg-push-11 {
        left: 36.66667%;
    }

    .col-lg-push-12 {
        left: 40%;
    }

    .col-lg-push-13 {
        left: 43.33333%;
    }

    .col-lg-push-14 {
        left: 46.66667%;
    }

    .col-lg-push-15 {
        left: 50%;
    }

    .col-lg-push-16 {
        left: 53.33333%;
    }

    .col-lg-push-17 {
        left: 56.66667%;
    }

    .col-lg-push-18 {
        left: 60%;
    }

    .col-lg-push-19 {
        left: 63.33333%;
    }

    .col-lg-push-20 {
        left: 66.66667%;
    }

    .col-lg-push-21 {
        left: 70%;
    }

    .col-lg-push-22 {
        left: 73.33333%;
    }

    .col-lg-push-23 {
        left: 76.66667%;
    }

    .col-lg-push-24 {
        left: 80%;
    }

    .col-lg-push-25 {
        left: 83.33333%;
    }

    .col-lg-push-26 {
        left: 86.66667%;
    }

    .col-lg-push-27 {
        left: 90%;
    }

    .col-lg-push-28 {
        left: 93.33333%;
    }

    .col-lg-push-29 {
        left: 96.66667%;
    }

    .col-lg-push-30 {
        left: 100%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }

    .col-lg-offset-1 {
        margin-left: 3.33333%;
    }

    .col-lg-offset-2 {
        margin-left: 6.66667%;
    }

    .col-lg-offset-3 {
        margin-left: 10%;
    }

    .col-lg-offset-4 {
        margin-left: 13.33333%;
    }

    .col-lg-offset-5 {
        margin-left: 16.66667%;
    }

    .col-lg-offset-6 {
        margin-left: 20%;
    }

    .col-lg-offset-7 {
        margin-left: 23.33333%;
    }

    .col-lg-offset-8 {
        margin-left: 26.66667%;
    }

    .col-lg-offset-9 {
        margin-left: 30%;
    }

    .col-lg-offset-10 {
        margin-left: 33.33333%;
    }

    .col-lg-offset-11 {
        margin-left: 36.66667%;
    }

    .col-lg-offset-12 {
        margin-left: 40%;
    }

    .col-lg-offset-13 {
        margin-left: 43.33333%;
    }

    .col-lg-offset-14 {
        margin-left: 46.66667%;
    }

    .col-lg-offset-15 {
        margin-left: 50%;
    }

    .col-lg-offset-16 {
        margin-left: 53.33333%;
    }

    .col-lg-offset-17 {
        margin-left: 56.66667%;
    }

    .col-lg-offset-18 {
        margin-left: 60%;
    }

    .col-lg-offset-19 {
        margin-left: 63.33333%;
    }

    .col-lg-offset-20 {
        margin-left: 66.66667%;
    }

    .col-lg-offset-21 {
        margin-left: 70%;
    }

    .col-lg-offset-22 {
        margin-left: 73.33333%;
    }

    .col-lg-offset-23 {
        margin-left: 76.66667%;
    }

    .col-lg-offset-24 {
        margin-left: 80%;
    }

    .col-lg-offset-25 {
        margin-left: 83.33333%;
    }

    .col-lg-offset-26 {
        margin-left: 86.66667%;
    }

    .col-lg-offset-27 {
        margin-left: 90%;
    }

    .col-lg-offset-28 {
        margin-left: 93.33333%;
    }

    .col-lg-offset-29 {
        margin-left: 96.66667%;
    }

    .col-lg-offset-30 {
        margin-left: 100%;
    }
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.noPadding {
    padding:0;
}

.affix {
    position: fixed;
}

.visible-xs {
    display: none !important;
}

.visible-sm {
    display: none !important;
}

.visible-md {
    display: none !important;
}

.visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 779px) {
    .visible-xs {
        display: block !important;
    }

    table.visible-xs {
        display: table !important;
    }

    tr.visible-xs {
        display: table-row !important;
    }

    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width: 779px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width: 779px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width: 779px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 780px) and (max-width: 989px) {
    .visible-sm {
        display: block !important;
    }

    table.visible-sm {
        display: table !important;
    }

    tr.visible-sm {
        display: table-row !important;
    }

    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 780px) and (max-width: 989px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width: 780px) and (max-width: 989px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width: 780px) and (max-width: 989px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 990px) and (max-width: 1109px) {
    .visible-md {
        display: block !important;
    }

    table.visible-md {
        display: table !important;
    }

    tr.visible-md {
        display: table-row !important;
    }

    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 990px) and (max-width: 1109px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width: 990px) and (max-width: 1109px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width: 990px) and (max-width: 1109px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1110px) {
    .visible-lg {
        display: block !important;
    }

    table.visible-lg {
        display: table !important;
    }

    tr.visible-lg {
        display: table-row !important;
    }

    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1110px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1110px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1110px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 779px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 780px) and (max-width: 989px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 990px) and (max-width: 1109px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1110px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }

    table.visible-print {
        display: table !important;
    }

    tr.visible-print {
        display: table-row !important;
    }

    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

.small-text-left {
    text-align: left;
}

.small-text-center {
    text-align: center;
}

.small-text-right {
    text-align: right;
}

.object-left {
    float: left;
}

.object-right {
    float: right;
}

.hide-for-small {
    display: none;
}

@media (min-width: 780px) {
    .hide-for-small {
        display: block;
    }
}

/**
 * Utils.
 */
.button {
    padding: 5px 30px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #2d2d2d;
    text-decoration: none;
    background: #ffe533;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 0 none;
    font-weight: normal;
}

.button-extra {
    padding: 0 50px 1px;
    font-size: 25px;
    line-height: 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-weight: 300;
}

@media (min-width: 780px) {
    .button-extra {
        padding: 0 75px 5px;
        font-size: 25px;
        line-height: 65px;
        letter-spacing: 0.7px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
}

/* Modal */
.close {
    float: right;
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 36px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-size: 20px;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: 6px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

* {
    outline: none;
}

/**
 * Main block.
 */
.body-box {
    height: 100%;
}

.main {
    position: relative;
    height: 100%;
}

.main .sp-buttons {
    bottom: 40px;
    margin: 0;
    width: 100%;
    left: auto;
    text-align: center;
    font-size: 0;
}

.main .sp-buttons .sp-button {
    margin: 0 0 0 30px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.main .sp-buttons .sp-button.sp-selected-button {
    background-color: #ffffff;
    cursor: default;
}

.main .sp-buttons .sp-button:first-child {
    margin-left: 0;
}

.main .sp-horizontal .sp-arrow {
    display: none;
    width: 120px;
    height: 65px;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 1350px) {
    .main .sp-horizontal .sp-arrow {
        display: block;
    }
}

.main .sp-horizontal .sp-arrow.sp-previous-arrow {
    left: 50px;
    margin: 0;
    background-image: url("/img/slider__nav-big--left-additional.png");
}

.main .sp-horizontal .sp-arrow.sp-next-arrow {
    right: 50px;
    margin: 0;
    background-image: url("/img/slider__nav-big--right-additional.png");
}

.main .sp-horizontal .sp-arrow:hover {
    opacity: 0.6;
}

.main .main__title, .main .main-description, .main .main__phone--link {
    text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.5), 0px 2px 0 rgba(0, 0, 0, 0.5);
}

.main .main__slider--wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main .main__slider--wrap .container {
    height: 100%;
}

.main .main__slider--wrap .slider__wrap--table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
}

.main .main__slider--wrap .slider__wrap--cell {
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.main .main__block--slider {
    height: 100%;
    position: relative;
}

.main .main__block--slider:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url(/img/mask.png) 0 0 no-repeat;
    background-size: cover;
}

.main .main__block--slider .main__slider {
    height: 100%;
}

.main__title {
    margin: -10px 0 0;
    font-size: 50px;
    line-height: 75px;
    font-weight: 300;
    color: #fff;
}

@media (min-width: 560px) {
    .main__title {
        margin: 15px 0 0;
        font-size: 75px;
        line-height: 90px;
        letter-spacing: 4.2px;
    }
}

.main__button .button {
    margin-top: 35px;
    margin-left: 6px;
    display: inline-block;
}

@media (min-width: 480px) {
    .main__button .button {
        margin-top: 15px;
    }
}

.main__phone {
    margin-left: -21px;
    margin-top: 20px;
}

.main__phone--link {
    margin-top: 4px;
    margin-left: -8px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.5px;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}

.main__phone--icon {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: rotate(107deg);
    -moz-transform: rotate(107deg);
    -ms-transform: rotate(107deg);
    -o-transform: rotate(107deg);
    transform: rotate(107deg);
}

.main-description {
    margin: 15px 0 0;
    font-size: 25px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #ffffff;
}

@media (min-width: 480px) {
    .main-description {
        margin: 21px 0 0;
        padding: 0 50px;
        font-size: 30px;
        line-height: 44px;
    }
}

@media (min-width: 780px) {
    .main-description {
        padding: 0;
    }
}

.main__sale .button {
    margin-top: 30px;
    display: inline-block;
    color: #ad172b;
    background: #ffffff;
}

@media (min-width: 780px) {
    .main__sale .button {
        margin-top: 40px;
    }
}

/**
 * Second slider.
 */
.additional__slider {
    /*.additional__slider--menu {
    margin-bottom: 20px;
  }*/
}

.noshow {
    display: none;
}

.additional__slider--menu.invisible .main__menu--links a {
    line-height: 40px;
}

.additional__slider--wrap {
    overflow: hidden;
}

.additional__slider .main__menu--links {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 480px) {
    .additional__slider .main__menu--links {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.additional__slider .main__menu--links li {
    margin-right: 20px;
}

@media (min-width: 480px) {
    .additional__slider .main__menu--links li {
        margin-right: 35px;
    }
}

.additional__slider .main__menu--links a {
    line-height: 40px;
    font-size: 17px;
    letter-spacing: 0.3px;
}

@media (min-width: 480px) {
    .additional__slider .main__menu--links a {
        line-height: 90px;
        padding-bottom: 10px;
        font-size: 20px;
        letter-spacing: 0.5px;
    }
}

.additional__slider .main__menu--links .active a {
    color: #000;
}

.additional__slider .main__description--title {
    margin-top: 60px;
    margin-bottom: -10px;
}

.slider-pro, .sp-slides-container, .sp-slides {
    height: 100%;
}

.slide-image {
    display: block;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.sp-full-screen .slide-image {
    -webkit-background-size: contain;
    background-size: contain;
}

.no-title-slider .additional__slider--menu {
    background-color: #f4efe6;
    margin-bottom: 0;
}

.slider-levels {
    position: relative;
}

.slider-levels__body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
    letter-spacing: 0.4px;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    width: 240px;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 480px) {
    .slider-levels__body {
        padding-top: 60px;
        padding-left: 21%;
        padding-right: 50px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 780px) {
    .slider-levels__body {
        width: 350px;
    }
}

.slider-levels__body:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.sp-horizontal .sp-arrows {
    opacity: 1;
    z-index: 8;
    margin-top: -39px;
}

.sp-horizontal .sp-arrow {

    width: 60px;
    height: 34px;
}

.sp-horizontal .sp-arrow:before, .sp-horizontal .sp-arrow:after {
    display: none;
}

.sp-horizontal .sp-arrow.sp-previous-arrow {
    background: url("/img/slider__nav-big--left-additional.png") 50% 50% no-repeat;
    left: 0;
    margin-left: 0;
}

.sp-horizontal .sp-arrow:hover {
    opacity: 0.8;
}

.sp-horizontal .sp-arrow.sp-next-arrow {
    padding: 20px;
    background: url("/img/slider__nav-big--right-additional.png") 50% 50% no-repeat;
    right: 0;
    margin-right: 0;
    -o-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
}

.sp-buttons {
    position: absolute;
    left: 25px;
    bottom: 24px;
    text-align: left;
    width: 400px;
    z-index: 9;
}

.sp-button {
    margin: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid #ffffff;
}

.sp-button:first-child {
    margin-left: 3px;
}

.sp-selected-button {
    background: #ffe533;
    border-color: #ffe533;
}

.sp-fade-full-screen {
    opacity: 1;
    top: 15px;
    right: 20px;
    margin-left: -130px;
    z-index: 15;
    color: #fff;
}

/**
 * Other homes.
 */
.main__more {
    background-color: #f4efe6;
}

.main__more .container {
    padding-top: 60px;
    padding-bottom: 65px;
}

.main__more .main__description--title {
    margin-bottom: 30px;
}

.main__more--item {
    margin-bottom: 20px;
    background-color: #fff;
}

.main__more--item .more__item--body {
    padding: 25px 40px 55px;
}

.main__more--item .more__item--image img {
    display: block;
    width: 100%;
    max-width: 492px;
}

.main__more--item .more__item--image .bg {
    display: block;
    width: 100%;
    height: 360px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main__more--item .main__description--title {
    margin-bottom: 0;
}

.main__more--item .main__description--info {
    margin-top: 20px;
    text-decoration: none;
}

.main__more--item .description__price--label {
    margin-top: 20px;
}

.main__more--item .description__price--count {
    font-size: 30px;
}

.more__item--button {
    margin-top: 38px;
}

.more__item--button .button {
    padding: 9px 30px;
}

/**
 * Feedback form.
 */
.main__feedback {
    background-color: #e5e5e5;
}

@media (min-width: 780px) {
    .main__feedback .main__feedback--col.small-text-center {
        text-align: left;
    }
}

.main__feedback .container {
    padding-top: 60px;
    padding-bottom: 65px;
}

.main__feedback .main__description--info {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
}

.main__feedback--photo {
    margin-top: 40px;
}

.main__feedback--photo img {
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.main__feedback--contacts {
    margin-top: 15px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
}

.main__feedback--contacts a {
    font: inherit !important;
    color: inherit !important;
}

.main__feedback--col.col-sm-12,
.main__feedback--form {
    padding-top: 30px;
}

.main__feedback--form {
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.main__feedback--form-wrap {
    margin-top: 30px;
}

.main__feedback--form-wrap input[type="text"] {
    margin: 0 auto 20px;
    text-align: center;
    max-width: 230px;
    line-height: 44px;
    font-size: 20px;
    display: block;
    border: 2px solid #d7d7d7;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-appearance: none;
    outline: 0 !important;
}

.main__feedback--form-wrap input[type="submit"] {
    margin: 20px auto 0;
    padding: 0 32px;
    display: block;
    text-align: center;
    min-width: 240px;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #2d2d2d;
    background: #ffe533;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 0 none;
}

.main__feedback--form-wrap .error {
    margin-top: 20px;
    color: #8c2e0b;
    background: transparent none !important;
}

.feedback__contacts--phone.call_phone_2 a {
    text-decoration: none;
}

/**
 * Footer.
 */
.main__footer {
    background-color: #ffffff;
}

.main__footer .container {
    padding-top: 60px;
    padding-bottom: 65px;
}

.main__footer span {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #646464;
}

.main__footer span a {
    font: inherit;
    color: inherit;
}

.developer-link {
    float: right;
}

/**
 * Main menu.
 */
.main__menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: #e5e5e5 !important;
}

.main__menu .container {
    padding: 0;
}

.main__menu--mobile-wrap {
    display: inline-block;
    vertical-align: middle;
}

.main__menu--mobile-wrap a {
    padding: 27px 20px 30px;
}

.main__menu--mobile-wrap a svg {
    display: block;
}

.main__menu--links-wrap {
    vertical-align: top;
    display: inline-block;
}

.main__menu--links {
    position: relative;
}

.main__menu--links ul, .main__menu--links li {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main__menu--links li {
    cursor: pointer;
    margin-right: 35px;
    float: left;
}

.main__menu--links li:last-child {
    margin-left: 0;
}

.main__menu--links a {
    position: relative;
    font-size: 20px;
    line-height: 80px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #646464;
}

.main__menu--links .active a:after {
    content: '';
    padding: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background: #000;
    -moz-transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main__menu--actions {
    float: right;
    font-size: 0;
}

.main__menu--actions .main__menu--phone {
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
}

.main__menu--actions .main__menu--phone a {
    font-size: 22px;
    line-height: 80px;
    color: #000000;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.main__menu--actions .main__menu--button,
.main__menu--mobile-wrap .main__menu--button {
    display: inline-block;
    vertical-align: top;
}

.main__menu--actions .main__menu--button a,
.main__menu--mobile-wrap .main__menu--button a {
    padding: 0 32px;
    display: block;
    font-size: 18px;
    line-height: 80px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #2d2d2d;
    background: #ffe533;
}

.main__menu--mobile-wrap .main__menu--button {
    position: absolute;
    top: 0;
    right: 0;
}

html.mm-blocking {
    overflow: visible;
}

html.mm-blocking body {
    overflow: visible;
}

.mm-menu.mm-offcanvas {
    z-index: 10;
}

.mm-panel .mm-navbar {
    display: none !important;
}

.mm-panels li {
    margin: 0;
    float: none;
}

.mm-listview > li:not(.mm-divider):after {
    right: 20px;
}

.mm-listview .main__menu--actions {
    display: block !important;
    float: none;
}

.mm-listview .main__menu--phone, .mm-listview .main__menu--button {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 20px;
}

.mm-listview .main__menu--phone, .mm-listview .main__menu--phone a, .mm-listview .main__menu--button, .mm-listview .main__menu--button a {
    white-space: nowrap;
}

.mm-listview .main__menu--phone .phone-ico {
    margin-right: 15px;
    display: inline-block !important;
    vertical-align: middle;
    height: 40px;
}

.mm-listview .main__menu--phone a {
    display: inline-block;
    vertical-align: middle;
}

.mm-listview .main__menu--phone:after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #dcdcdc;
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
}

.mm-menu.mm-offcanvas {
    width: 0%;
    min-width: 0;
    display: block;
    transition: all .4s ease;
}

.mm-opening .mm-menu.mm-offcanvas {
    width: 80%;
}

/**
 * Main description.
 */
.main__description .container {
    padding-top: 60px;
    padding-bottom: 40px;
}

.main__description .col-sm-18 .main__description--title {
    padding-right: 20px;
}

.main__description .description-prices {
    margin-top: 30px;
    padding-left: 50px;
}

@media (min-width: 780px) {
    .main__description .description-prices {
        margin-top: 0;
    }
}

.main__description--title {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1.3px;
    color: #000000;
    padding-right: 30px;
}

#map-wrapper {
    width:100%;
    height:448px;
}

.map-container {
    min-height: 160px;
    position: relative;
}
.ymaps-2-1-55-inner-panes:before {
    content: '';
    display: block;
    position: absolute;
    background: url(/img/map_top_bg.png) center -10px;
    background-repeat: repeat-x;
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 999;
    opacity: 0.9;
}
.additional__slider .main__description--title.map-title {
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}
.ymaps-2-1-52-zoom {
    position: relative;
    top: 90px;
}

.ymaps-2-1-52-controls__control_toolbar {
    position: relative;
    top:367px;
}

.ymaps-2-1-52-listbox_align_right .ymaps-2-1-52-listbox__panel {
    top: -172px;
    height: 121px;
}

.ymaps-2-1-52-listbox__panel .ymaps-2-1-52-listbox__list {
    max-height: 122px !important;
}

.main__description--info {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    text-decoration: underline;
    padding-right: 30px;
}

.main__text_price {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.main__price {
    margin-top: -12px;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.main__description--info a {
    font: inherit;
    color: inherit;
}

.main__description--feature {
    margin-top: 35px;
}

.main__description--item {
    margin-bottom: 10px;
}

.main__description--item:first-child {
    margin-top: 0;
}

.main__description--item .main__description--icon {
    margin: 0;
    width: 80px;
}

.main__description--item .main__description--icon img {
    margin: 0;
    margin-left: -15px;
    max-width: 80px;
    width: 100%;
    height: auto;
    display: block;
    border: 0 none;
}

.main__description--item span {
    margin-top: 5px;
    margin-left: -15px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.4px;
    display: inline-block;
    vertical-align: middle;
}

.main__description--id {
    margin-top: 5px;
}

.main__description--id .button {
    padding: 10px 25px;
    background: #e5e5e5;
    color: #000000;
}

.description__price--label {
    margin-top: 25px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #000000;
}

.description__price--count {
    font-size: 35px;
    line-height: 36px;
    letter-spacing: 1.6px;
    color: #000000;
}

.main__description--afterprice .description__price--label,
.main__description--afterprice .description__price--count {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #646464;
}

.main__description--afterprice .description__price--label {
    margin-top: 15px;
}

/* Other Objects */
.other-objects-wrapper {
    padding-bottom: 20px;
}

.other-objects-wrapper .main__description--title {
    margin-bottom: 30px;
}

.other-item {
    background-color: #fff;
    margin: 10px;
    max-width: 492px;
}

.other-item img {
    width: 100%;
    max-width: 492px;
}

.other-item-content {
    padding:30px 40px;
    font-size:20px;
    position: relative;
}

.other-item-content .other-item-title {
    margin: 0 0 20px;
}
.other-item-link {
    font-size: 16px;
    display: inline-block;
    padding: 12px 30px;
    line-height: 22px;
    margin: 20px 0 10px;
}

/* Payments method */
.payments-wrapper {
    padding-bottom: 60px;
}

.payments {
    background-color: #ffe533;
    font-size: 20px;
}

.payments-item {
    background-color: #fff;
    padding:20px;
    margin:10px;
    text-align: center;
}

/* Documents method */
.documents-wrapper {
    padding-bottom: 60px;
}

.documents {
    background-color: #fff;
}

.documents-item {
    margin: 10px;
    text-align: center;
    min-height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-position: top center;
    background-color: #eee;
}

.documents-hide-btn {
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: relative;
    top: 74px;
    padding: 0 20px;
}

.documents .documents-wrapper .documents-hide-btn .documents-item-link {
    font-size: 16px;
    display: block;
    line-height: 22px;
    margin: 20px auto 10px;
    padding: 8px 20px 8px;
    max-width: 125px;
}

.documents-item:hover .documents-hide-btn,
.documents-item:focus .documents-hide-btn {
    opacity: 1;
}

.documents-name {
    font-size: 16px;
    text-align: center;
    padding: 0px 10px;
    line-height: 24px;
}

/**
 * Phone icon.
 */
/* ----- animations ----- */
/*n1*/
@-webkit-keyframes enlarge1 {
    20% {
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes enlarge1 {
    20% {
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-ms-keyframes enlarge1 {
    20% {
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes enlarge1 {
    20% {
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes enlarge1 {
    20% {
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
        transform: scale(1.15, 1.15);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

/*n2*/
@-webkit-keyframes enlarge2 {
    20% {
        -webkit-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes enlarge2 {
    20% {
        -webkit-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-ms-keyframes enlarge2 {
    20% {
        -webkit-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes enlarge2 {
    20% {
        -webkit-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes enlarge2 {
    20% {
        -webkit-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
    70% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

/*n3 hover*/
@-webkit-keyframes pulsing {
    50% {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@-moz-keyframes pulsing {
    50% {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@-ms-keyframes pulsing {
    50% {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@-o-keyframes pulsing {
    50% {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@keyframes pulsing {
    50% {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

/* ----- rotate ----- */
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    0% {
        -ms-transform: rotate(0deg);
    }
    50% {
        -ms-transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    0% {
        -o-transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main__phone--icon.main__phone--animation .newton-circle-back {
    -webkit-transform-origin: center center !important;
    -moz-transform-origin: center center !important;
    transform-origin: center center !important;
    -webkit-animation: enlarge2 4s 0.3s infinite linear both;
    -moz-animation: enlarge2 4s 0.3s infinite linear both;
    animation: enlarge2 4s 0.3s infinite linear both;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.main__phone--icon.main__phone--animation .newton-circle-front {
    -webkit-transform-origin: center center !important;
    -moz-transform-origin: center center !important;
    transform-origin: center center !important;
    -webkit-animation: enlarge1 4s infinite linear both;
    -moz-animation: enlarge1 4s infinite linear both;
    animation: enlarge1 4s infinite linear both;
}

.main__phone--icon.main__phone--animation .newton-text {
    text-anchor: middle;
    text-transform: uppercase;
    font: bold 10px Calibri, "PT Sans", Arial, Helvetica, sans-serif;
    -webkit-transform-origin: center center !important;
    -moz-transform-origin: center center !important;
    transform-origin: center center !important;
    -webkit-animation: rotate 6.5s infinite linear reverse both;
    -moz-animation: rotate 6.5s infinite linear reverse both;
    animation: rotate 6.5s infinite linear reverse both;
}

.main__phone--icon.main__phone--animation .newton-icon {
    -webkit-transform-origin: center center !important;
    -moz-transform-origin: center center !important;
    transform-origin: center center !important;
}

.main__phone--icon.main__phone--animation .newton-icon-handset {
    fill: #000000;
    opacity: 1;
}

.main__phone--icon.main__phone--animation .newton-icon-callback {
    opacity: 0;
}

.main__phone--icon.main__phone--animation .newton-icon-consultant {
    opacity: 0;
}

.main__phone--icon .newton-circle-back {
    opacity: 0.2;
}

.main__phone--icon .newton-circle-front {
    opacity: 1;
}

.main__phone--icon .newton-ring {
    opacity: 0.1;
}

.main__phone--icon .newton-circle-back,
.main__phone--icon .newton-circle-front,
.main__phone--icon .newton-ring {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

/* ----- hover event ----- */
.main__phone--icon.main__phone--animation .newton-wrapper {
    -webkit-transform-origin: center center !important;
    -moz-transform-origin: center center !important;
    transform-origin: center center !important;
    -webkit-animation: pulsing 0.5s infinite linear both;
    -moz-animation: pulsing 0.5s infinite linear both;
    animation: pulsing 0.5s infinite linear both;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

.main__phone:hover .main__phone--icon.main__phone--animation .newton-circle-front,
.main__phone:hover .main__phone--icon.main__phone--animation .newton-circle-back {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

.main__phone:hover .main__phone--icon .newton-circle-back {
    opacity: 0;
}

.main__phone:hover .main__phone--icon .newton-circle-front {
    opacity: 1;
}

.main__phone:hover .main__phone--icon .newton-ring {
    opacity: 0.3;
}

.main__phone:hover .main__phone--icon.main__phone--animation .newton-wrapper {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}

/* icon animate */
/* /icon animate */
/* /button */
/* mobile */
.main__phone--icon.mobile {
    left: 50% !important;
    bottom: 0 !important;
    opacity: 1 !important;
    width: 18% !important;
    margin-bottom: 8% !important;
    background: none !important;
    margin-left: -9% !important;
    height: auto !important;
    right: auto !important;
}

@media all and (orientation: landscape) {
    .main__phone--icon.mobile {
        margin-left: -5% !important;
        width: 10% !important;
        margin-bottom: 4% !important;
    }
}

.main__phone--icon.mobile svg {
    width: 100% !important;
    max-width: 100% !important;
    border: none !important;
    animation-name: m-shake;
    -webkit-animation-name: m-shake;
    animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.up_top {
    animation: up_top 1s ease-out forwards;
    -webkit-animation: up_top 1s ease-out forwards;
    -ms-animation: up_top 1s ease-out forwards;
    -moz-animation: up_top 1s ease-out forwards;
    -o-animation: up_top 1s ease-out forwards;
}

@keyframes up_top {
    from {
        opacity: 0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-webkit-keyframes up_top {
    from {
        opacity: 0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-moz-keyframes up_top {
    from {
        opacity: 0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-ms-keyframes up_top {
    from {
        opacity: 0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-o-keyframes up_top {
    from {
        opacity: 0;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.animate-04 {
    opacity: 0;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
}

.animate-08 {
    opacity: 0;
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
}

.animate-12 {
    opacity: 0;
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
}

.other-objects {
    background-color: #f4efe6
}