@media (min-width: 320px) {
    .main__menu--mobile-wrap a {
        padding: 8px 20px 8px;
    }
    .main__menu--actions .main__menu--button a, .main__menu--mobile-wrap .main__menu--button a {
        line-height: 39px;
        font-size: 16px;
    }
    .mm-listview .main__menu--phone a {
        font-size: 18px;
    }
    .main__description--item span {
        font-size: 18px;
    }
    .small-text-left, .small-text-right {
        text-align: center;
    }
    .main__feedback {
        text-align: center;
    }
    .main__feedback--photo {
        width: 100px;
        margin: 40px auto;
    }
    .developer-link {
        float: none;
        display: block;
    }
    .other-item-content .other-item-title, .other-item-content .main__price {
        font-size: 24px;
    }
    .other-item {
        margin: 10px auto;
    }
    .main__feedback--form {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        font-size: 18px;
    }
    .main__feedback--form .main__description--title {
        font-size: 26px;
        padding-right: 0;
    }
    .main__feedback .main__description--info {
        padding-right: 0;
    }
    .developer-link {
        margin-top: 20px;
    }
    .button-extra {
        padding: 10px 35px 10px;
        font-size: 20px;
        line-height: 25px;
    }
    .main-description {
        margin: 15px 0 0;
        font-size: 17px;
        line-height: 24px;
    }
    .main__title {
        margin: -15px 0 0;
        font-size: 47px;
        line-height: 47px;
    }
    .main .sp-buttons {
        bottom: 0;
        top: auto;
    }
    .main__phone {
        margin-left: -30px;
        margin-top: 0px;
    }
    .main__phone--link {
        margin-top: 5px;
        margin-left: -10px;
        font-size: 20px;
    }
    .main__description--title {
         padding-right: 0;
    }
    .main__description .container {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .main__description--title {
        margin: 0;
        font-size: 24px;
        line-height: 30px;
    }
    .additional__slider .main__description--title.payments-title {
        margin-bottom: 20px;
    }
    .main__description .description-prices {
        padding-left: 30px;
    }
    .main__description--item .main__description--icon {
        width: 46px;
    }
    .main__description--item .main__description--icon img {
        margin-left: 0;
        max-width: 46px;
    }
    .payments-item .main__description--item span {
        font-size: 20px;
        margin-top: 10px;
    }
    .payments-item .main__description--item span.main__description--icon {
        margin-top: 5px;
    }
    .main__description--item span {
        margin-top: 0;
        margin-left: 0;
        line-height: 18px;
        font-size: 15px;
    }
    .main__description--item span p {
        margin: 0;
    }
    .main__feedback--form-wrap input[type="text"] {
        max-width: 200px;
    }
    .main__feedback--form-wrap input[type="submit"] {
        min-width: 230px;
    }
    .slider-levels__body {
        letter-spacing: normal;
        color: #000;
        padding: 15px 15px 5px;
        width: 100%;
        font-size: 15px;
        line-height: 22px;
        background-color: #fff;
        box-sizing: border-box;
        opacity: 0.7;
        top: inherit;
    }
    .slider-levels__body:after {
        display: none;
    }
    .sp-buttons {
        display: none;
        top: 0;
        bottom: 0;
        height: 42px;
        width: 272px;
    }
    .sp-fade-full-screen {
        display:none;
    }
    .additional__slider .main__description--title {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .additional__slider .main__description--title.other-objects-title {
        margin-bottom: 20px;
    }
    .other-item-content {
        padding: 20px 20px 55px;
        font-size: 20px;
    }
    .other-item-content .button-extra {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        border-radius: 0;
        text-align: center;
        margin: 0;
    }
    .payments-subtitle {
        margin: 30px auto;
        width: 100%;
        text-align: center;
        line-height: 30px;
    }
    .main__feedback .container {
        padding-top: 0;
    }
    .modal-header .close {
        margin-top: -4px;
    }
}

@media (min-width: 780px) {

    .mm-listview .main__menu--phone a {
        font-size: 22px;
    }
    .main__description--item span {
        font-size: 20px;
    }
    .main__menu--actions .main__menu--button a, .main__menu--mobile-wrap .main__menu--button a {
        line-height: 80px;
    }
    .small-text-left, .small-text-right {
        text-align: center;
    }
    .main__feedback {
        text-align: inherit;
    }
    .main__feedback--photo {
        margin: 40px 0 30px 0;
    }
    .developer-link {
        float: none;
        display: block;
    }
    .other-item-content .main__description--title {
        font-size: 30px;
    }
    .other-item-content .main__price {
        font-size: 35px;
    }
    .other-item {
        margin: 10px;
    }
    .main__feedback--form {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    .main__feedback--form .main__description--title {
        font-size: 30px;
        padding-right: 30px;
    }
    .main__feedback .main__description--info {
        padding-right: 30px;
    }
    .developer-link {
        margin-top: 20px;
    }
    .button-extra {
        padding: 0 50px 1px;
        font-size: 25px;
        line-height: 60px;
    }
    .main-description {
        margin: 21px 0;
        padding: 0 50px;
        font-size: 30px;
        line-height: 44px;
    }
    .main__title {
        margin: 15px 0 0;
        font-size: 75px;
        line-height: 90px;
        letter-spacing: 4.2px;
    }
    .main .sp-buttons {
        bottom: 40px;
        top: auto;
    }
    .main__phone--link {
        margin-top: 4px;
        margin-left: -8px;
        font-size: 25px;
    }
    .main__description--title {
        padding-right: 30px;
    }
    .main__description .container {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .main__description--title {
        margin: 0;
        font-size: 30px;
        line-height: 40px;
    }
    .main__description .description-prices {
        padding-left: 50px;
    }
    .main__description--item .main__description--icon {
        width: 80px;
    }
    .main__description--item .main__description--icon img {
        margin-left: -15px;
        max-width: 80px;
    }
    .payments-item .main__description--item span {
        font-size: 17px;
        margin-top: 10px;
    }
    .payments-item .main__description--item span.main__description--icon {
        margin-top: 0;
    }
    .main__description--item span {
        margin-top: 15px;
        margin-left: -25px;
        line-height: 26px;
        font-size: 17px;
    }
    .main__description--item span p {
        margin: 0 0 10px;
    }
    .main__feedback--form-wrap input[type="text"] {
        max-width: 230px;
    }
    .main__feedback--form-wrap input[type="submit"] {
        min-width: 240px;
    }
    .slider-levels__body {
        padding-top: 60px;
        padding-left: 100px;
        padding-right: 50px;
        font-size: 20px;
        line-height: 30px;
        top: 0;
        left: 0;
        bottom: 0;
        letter-spacing: 0.4px;
        color: #ffffff;
        width: 262px;
        opacity: 1;
        background-color: transparent;
        box-sizing: inherit;
    }
    .slider-levels__body:after {
        display: block;
    }
    .sp-buttons {
        display: none;
        top: auto;
        bottom: 24px;
        height: 42px;
        width: 400px;
    }
    .sp-fade-full-screen {
        display:block;
    }
    .additional__slider .main__description--title {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .additional__slider .main__description--title.other-objects-title {
        margin-bottom: 20px;
    }
    .other-item-content {
        padding: 30px 40px;
        font-size: 20px;
    }
    .other-item-content .button-extra {
        position: relative;
        width: inherit;
        left: auto;
        bottom: auto;
        box-sizing: border-box;
        text-align: inherit;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin-top: 20px;
    }
    .payments-subtitle {
        margin: 30px auto;
        width: 72%;
        text-align: center;
        line-height: 30px;
    }
    .main__feedback .container {
        padding-top: 60px;
    }
    .modal-header .close {
        margin-top: 6px;
    }
    .sp-arrow.sp-previous-arrow {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .mm-listview .main__menu--phone a {
        font-size: 22px;
    }
    .main__description--item span {
        font-size: 20px;
    }
    .main__menu--actions .main__menu--button a, .main__menu--mobile-wrap .main__menu--button a {
        line-height: 80px;
    }
    .small-text-left, .small-text-right {
        text-align: center;
    }
    .main__feedback {
        text-align: inherit;
    }
    .main__feedback--photo {
        margin: 40px 0 30px 0;
    }
    .developer-link {
        float: right;
    }
    .other-item-content .main__description--title {
        font-size: 30px;
    }
    .other-item-content .main__price {
        font-size: 35px;
    }
    .other-item {
        margin: 10px;
    }
    .main__feedback--form {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    .main__feedback--form .main__description--title {
        font-size: 30px;
        padding-right: 30px;
    }
    .main__feedback .main__description--info {
        padding-right: 30px;
    }
    .developer-link {
        margin-top: 0;
    }
    .button-extra {
        padding: 0 50px 1px;
        font-size: 25px;
        line-height: 60px;
    }
    .main-description {
        margin: 21px 0;
        padding: 0 50px;
        font-size: 30px;
        line-height: 44px;
    }
    .main__title {
        margin: 15px 0 0;
        font-size: 75px;
        line-height: 90px;
        letter-spacing: 4.2px;
    }
    .main .sp-buttons {
        display: block;
        bottom: 40px;
        top: auto;
    }
    .main__phone--link {
        margin-top: 4px;
        margin-left: -8px;
        font-size: 25px;
    }
    .main__description--title {
        padding-right: 30px;
    }
    .main__description .container {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .main__description--title {
        margin: 0;
        font-size: 30px;
        line-height: 40px;
    }
    .main__description .description-prices {
        padding-left: 50px;
    }
    .main__description--item .main__description--icon {
        width: 80px;
    }
    .main__description--item .main__description--icon img {
        margin-left: -15px;
        max-width: 80px;
    }
    .main__description--item span {
        margin-top: 15px;
        margin-left: -15px;
        line-height: 26px;
        font-size: 20px;
    }
    .payments-item .main__description--item span {
        font-size: 20px;
        margin-top: 10px;
    }
    .payments-item .main__description--item span.main__description--icon {
        margin-top: 0;
    }
    .main__description--item span p {
        margin: 0 0 10px;
    }
    .main__feedback--form-wrap input[type="text"] {
        max-width: 230px;
    }
    .main__feedback--form-wrap input[type="submit"] {
        min-width: 240px;
    }
    .slider-levels__body {
        padding-top: 60px;
        padding-left: 21%;
        padding-right: 50px;
        font-size: 20px;
        line-height: 30px;
        top: 0;
        left: 0;
        bottom: 0;
        letter-spacing: 0.4px;
        color: #ffffff;
        width: 350px;
        opacity: 1;
        background-color: transparent;
        box-sizing: inherit;
    }
    .slider-levels__body:after {
        display: block;
    }
    .sp-buttons {
        display: block;
        top: auto;
        bottom: 24px;
        height: 42px;
        width: 400px;
    }
    .sp-fade-full-screen {
        display:block;
    }
    .additional__slider .main__description--title {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .additional__slider .main__description--title.other-objects-title {
        margin-bottom: 20px;
    }
    .other-item-content {
        padding: 30px 40px;
        font-size: 20px;
    }
    .other-item-content .button-extra {
        position: relative;
        width: inherit;
        left: auto;
        bottom: auto;
        box-sizing: border-box;
        text-align: inherit;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin-top: 20px;
    }
    .payments-subtitle {
        margin: 30px auto;
        width: 72%;
        text-align: center;
        line-height: 30px;
    }
    .main__feedback .container {
        padding-top: 60px;
    }
    .modal-header .close {
        margin-top: 6px;
    }
}

@media (min-width: 1110px) {
    .mm-listview .main__menu--phone a {
        font-size: 22px;
    }
    .main__description--item span {
        font-size: 20px;
    }
    .main__menu--actions .main__menu--button a, .main__menu--mobile-wrap .main__menu--button a {
        line-height: 80px;
    }
    .small-text-left {
        text-align: left;
    }
    .small-text-right {
        text-align: right;
    }
    .main__feedback {
        text-align: inherit;
    }
    .main__feedback--photo {
        margin: 40px 0 30px 0;
    }
    .developer-link {
        float: right;
    }
    .other-item-content .main__description--title {
        font-size: 30px;
    }
    .other-item-content .main__price {
        font-size: 35px;
    }
    .main__feedback--form {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    .main__feedback--form .main__description--title {
        font-size: 30px;
        padding-right: 30px;
    }
    .main__feedback .main__description--info {
        padding-right: 30px;
    }
    .other-item {
        margin: 10px;
    }
    .developer-link {
        margin-top: 0;
    }
    .button-extra {
        padding: 0 50px 1px;
        font-size: 25px;
        line-height: 60px;
    }
    .main-description {
        margin: 21px 0;
        padding: 0 50px;
        font-size: 30px;
        line-height: 44px;
    }
    .main__title {
        margin: 15px 0 0;
        font-size: 75px;
        line-height: 90px;
        letter-spacing: 4.2px;
    }
    .main .sp-buttons {
        bottom: 40px;
        top: auto;
    }
    .main__phone--link {
        margin-top: 4px;
        margin-left: -8px;
        font-size: 25px;
    }
    .main__description--title {
        padding-right: 30px;
    }
    .main__description .container {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .main__description--title {
        margin: 0;
        font-size: 27px;
        line-height: 40px;
        padding-top: 10px;
    }
    .main__description .description-prices {
        padding-left: 50px;
    }
    .main__description--item .main__description--icon {
        width: 80px;
    }
    .main__description--item .main__description--icon img {
        margin-left: -15px;
        max-width: 80px;
    }
    .main__description--item span {
        margin-top: 15px;
        margin-left: -15px;
        line-height: 26px;
        font-size: 20px;
    }
    .payments-item .main__description--item span {
        font-size: 20px;
        margin-top: 10px;
    }
    .payments-item .main__description--item span.main__description--icon {
        margin-top: 0;
    }
    .main__description--item span p {
        margin: 0 0 10px;
    }
    .main__feedback--form-wrap input[type="text"] {
        max-width: 230px;
    }
    .main__feedback--form-wrap input[type="submit"] {
        min-width: 240px;
    }
    .slider-levels__body {
        padding-top: 60px;
        padding-left: 21%;
        padding-right: 50px;
        font-size: 20px;
        line-height: 30px;
        top: 0;
        left: 0;
        bottom: 0;
        letter-spacing: 0.4px;
        color: #ffffff;
        width: 350px;
        opacity: 1;
        background-color: transparent;
        box-sizing: inherit;
    }
    .slider-levels__body:after {
        display: block;
    }
    .sp-buttons {
        display: block;
        top: auto;
        bottom: 24px;
        height: 42px;
        left: 50%;
        margin-left: -500px;
    }
    .sp-fade-full-screen {
        display:block;
    }
    .additional__slider .main__description--title {
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .additional__slider .main__description--title.other-objects-title {
        margin-bottom: 20px;
    }
    .other-item-content {
        padding: 30px 40px;
        font-size: 20px;
    }
    .other-item-content .button-extra {
        position: relative;
        width: inherit;
        left: auto;
        bottom: auto;
        box-sizing: border-box;
        text-align: inherit;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin-top: 20px;
    }
    .payments-subtitle {
        margin: 30px auto;
        width: 72%;
        text-align: center;
        line-height: 30px;
    }
    .main__feedback .container {
        padding-top: 60px;
    }
    .modal-header .close {
        margin-top: 6px;
    }
}

@media (min-width: 1355px) {

    .sp-horizontal .sp-arrow.sp-previous-arrow {
        left: 50%;
        margin-left: -700px;
    }
    .sp-horizontal .sp-arrow.sp-next-arrow {
        right: 50%;
        margin-right: -700px;
    }
}